<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/mt" method="GET">
      <input type="number" name="soa">
      <input type="number" name="sob">
      <button type="submit">tính</button>

    </form>
    <p>tổng:<%=kq%></p>
    <p>hiệu: <%=hieu%></p>
  </body>
</html>
